.container {
    width: 100%; /* Use a percentage value to make it responsive */
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    background-color: brown;
    padding: 10px; /* Add some padding to improve spacing */
}

button {
    height: 50px;
    width: 100%; /* Use a percentage value to make it responsive */
    border-radius: 50px;
    margin: 5px;
}

#id1 {
    text-align: center;
    color: brown;
    margin-top: 10px;
    font-family: fantasy;
}

.input {
    text-align: right;
    width: 100%; /* Use a percentage value to make it responsive */
    height: 100px;
}

body {
    text-align: center;
    background-color: black;
}

#ubtn {
    width: 100%; /* Use a percentage value to make it responsive */
    border-radius: 25px;
}


.row
{
    border: 2px solid black;
    
}

.btn
{
    background-color: aliceblue;
    font-size: 20px;
}